* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  margin: auto;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
}

.main-content {
  display: table;
  height: 100%;
  width: 95%;
}

.main-text {
  display: table-cell;
  margin: auto;
  text-align: justify;
  padding-left: 40px;
}

.club-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  margin: auto;
  text-align: center;
  color: #000;
}

h1 {
  font-weight: 500;
}

#top-nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

#top-nav ul li {
  float: left;
}

#top-nav ul li a {
  display: inline-block;
  text-align: center;
  margin: 7px;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

#top-nav ul li a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #760e29;
}

.sidebar {
  display: table;
  height: 100%;
  padding-top: 20px;
}

.sidebar-content {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#social a {
  margin: 7px;
  font-size: 2.5em;
}

#social a:hover {
  color: #760e29;
}

.logo {
  margin: auto;
  padding-bottom: 40px;
}

#members ul {
  list-style-type: none;
  margin: 0;
}

#members ul li {
  text-align: left;
  margin: -1px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

footer p {
  text-align: center;
  font-size: 0.5em;
}

hr.style-two {
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Glyph, by Harry Roberts */
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
