<!DOCTYPE html>
<html lang="en_US">

  {{ partial "head.html" . }}

  <body>

    <div class="container centered">
      <div class="row">

        {{ partial "sidebar.html" . }}

        <div class="eight columns">

          {{ partial "header.html" . }}

          <div class="main-content">
            <div class="main-text">

              {{ partial "navbar.html" . }}


                {{ range (.Paginator 5).Pages }}
                 <div>
                   <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                 </div>
                {{ end }}


                {{ if .Paginator.HasPrev }}
                 <a id="previous" href="{{ .Paginator.Prev.URL }}">
                     Previous Page
                 </a>
                {{ end }}
                {{ if .Paginator.HasNext }}
                 <a id="next" href="{{ .Paginator.Next.URL }}">
                     Next Page
                 </a>
                {{ end }}

            </div> <!--main-text-->
          </div> <!--main-content-->

        </div> <!--eight columns-->

      </div> <!--row-->

        {{ partial "footer.html" . }}

    </div> <!--container centered-->

  </body>

</html>
