<!DOCTYPE html>
<html lang="en_US">

  {{ partial "head.html" . }}

  <body>

    <div class="container centered">
      <div class="row">

        {{ partial "sidebar.html" . }}

        <div class="eight columns">

          {{ partial "header.html" . }}

        <div class="main-content">
          <div class="main-text">

            {{ partial "navbar.html" . }}


             <iframe
               src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=24f10kvl4mufea64du30rndneg%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FChicago" style="border-width:0" width="100%"  height="400px" frameborder="0" scrolling="yes"></iframe>

             </div> <!--main-text-->
           </div> <!--main-content-->

         </div> <!--eight columns-->

         {{ partial "footer.html" . }}

         </div> <!--row-->
     </div> <!--container centered-->

   </body>

 </html>
