  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="generator" content="Hugo 0.14" />

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="{{ "css/skeleton.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/normalize.css" | absURL }}">

    <!-- Ionicons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "css/toast.css" | absURL }}">

    <!-- Canonical URL -->
    <link rel="canonical" href="http://itoastames.club"/>

    <title>
      iToast Toastmasters Club
    </title>
  </head>
