<div id="top-nav">
  <ul>
    <li><a class="button" href="{{ "/" | absURL }}">Home</a></li>
    <li><a class="button" href="{{ "schedule/schedule" | absURL }}">Schedule</a></li>
    <li><a class="button" href="{{ "members/members" | absURL }}">Members</a></li>
    <li><a class="button" href="{{ "/minutes" | absURL }}">Minutes</a></li>
  </ul>
</div>
