<div class="four columns">
  <div class="sidebar">
    <div class="sidebar-content">

      <div class="logo">
      {{ $baseURL := .Site.BaseURL }}
        <img src="{{ $baseURL }}/burlogo.jpg" width="90%">
      </div>

      <div>
        <p align="justify">
          We meet every second and fourth Sundays at Ames Public Library, Ames,
          IA from 2 PM - 4 PM (CST).
        </p>
      </div>

      <div id="social">
        <p align="center">
          <a  href="https://facebook.com/groups/309775882396264">
            <i class="icon ion-social-facebook"></i>
          </a>
          <a href="https://gitlab.com/itoast/itoast.gitlab.io">
            <i class="icon ion-usb"></i>
          </a>
          <a href="mailto:itoast@googlegroups.com" id="email">
            <i class="icon ion-email"></i>
          </a>
        </p>
      </div>

      <div>
        <img src="{{ "/fbstream.gif" | absURL }}" width="95%">
      </div>

    </div> <!--sidebar-content-->
  </div> <!--sidebar-->
</div> <!--four columns-->
