<!DOCTYPE html>
<html lang="en_US">

  {{ partial "head.html" . }}

  <body>

    <div class="container centered">
      <div class="row">

        {{ partial "sidebar.html" . }}

        <div class="eight columns">

          {{ partial "header.html" . }}

          <div class="main-content">
            <div class="main-text">

              {{ partial "navbar.html" . }}

              <p>
                iToast Toastmasters Club, iToast for short, is a part of
                Toastmasters International. We exist for people with a busy
                schedule in the weekdays but still wanting to be a part of this
                incredible family. Our metings are held on the second and fourth
                Saturdays of each month. Please check the schedule for further
                details.
              </p>
              <p>
                In a positive and friendly environment we learn from each other
                to advance our journey to success. We are aided in this journey
                by the manuals provided by Toastmasters International, which you
                can peruse at your own pace.
              </p>
              <p>
                Through mentorship, positive feedback and openness, our most
                experienced members will make you feel proud of your
                achievements.
              </p>
              <p>
                iToast also fosters cultural exchange by our diverse membership.
                We are from different parts of the world with the shared
                objective of becoming leaders.
              </p>
              <p>
                Our members are our day-to-day inspiration, we always strive to
                do our best for you. We look forward to your visit.
              </p>

            </div> <!--main-text-->
          </div> <!--main-content-->

        </div> <!--eight columns-->

        </div> <!--row-->

        {{ partial "footer.html" . }}

    </div> <!--container centered-->

  </body>

</html>
