<!DOCTYPE html>
<html lang="en_US">

  {{ partial "head.html" . }}

  <body>

    <div class="container centered">
      <div class="row">

        {{ partial "sidebar.html" . }}

        <div class="eight columns">

          {{ partial "header.html" . }}

          <div class="main-content">
            <div class="main-text">

              {{ partial "navbar.html" . }}

              <div id="members">
                {{ .Content }}
              </div>


             </div> <!--main-text-->
           </div> <!--main-content-->

         </div> <!--eight columns-->

          {{ partial "footer.html" . }}

         </div> <!--row-->
     </div> <!--container centered-->

   </body>

 </html>
